:root {
  --text: #475569;
  --text-heading: #111827;
  --background: #f8fafc;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/1.5 var(--sans);
  color: var(--text);
  background: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}

h1 {
  color: var(--text-heading);
  font-size: 2.5rem;
  line-height: 1.1;
  margin: 0;
}

p {
  margin: 0;
}
